body{
    font-family: 'Open Sans', sans-serif;
    background: #3e3b4a;
    color: #ffffff;
}
/*-----------------HEADER------------------*/
.header-container{
    display: flex;
    justify-content: space-between;
    max-width: 1020px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
    align-items: center;
}
.header-menu{
    font-size: 12px;
    font-weight: 700;
    color: #898691;
    text-transform: uppercase;
    line-height: 19px;
}
.header-menu::before{
    content: '';
    background: url(img/menu-icon.png);
    height: 19px;
    width: 22px;
    position: absolute;

}
.header-menu span{
    margin-left: 32px;
    letter-spacing: 0.2em;
}
.header-logo{
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.header-logo-2{
    font-size: 13px;
    font-weight: 400;
    color: #898691;
    text-transform: inherit;
    text-align: center;
}
.header-search{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #898691;
    line-height: 22px;

}
.header-search img{
    vertical-align: middle;

}

.header-search span{
    margin-right: 8px;
    letter-spacing: 0.2em;
}
/*-----------------FOOTER------------------*/

.footer-copyright{
    font-size: 14px;
    font-weight: 400;
    color: #898691;
}
footer{
    max-width: 1012px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 51px;
    margin-bottom: 66px;
}
.footer-social img{
    margin-left: 20px;

}
/*-----------------MAIN------------------*/
main, .top-a, .top-b, .top-c{
    display: flex;
}
main{
    flex-direction: column;
    justify-content: center;
    max-width: 1020px;
    margin: 0 auto;
}
.top-a{
    background: url(img/square1-bg.jpg);
    height: 512px;
    flex-direction: column;
}
.top-a-home{
    margin-left: 42px;
    margin-top: 35px;
    text-transform: uppercase;
    color: #ffc7b0;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2em;
}
.top-a-buster{
    margin-left: 42px;
    font-size: 72px;
    font-weight: 700;
    margin-top: 22px;   
}
.top-a-the{
    margin-left: 42px;
    font-size: 36px;
    font-weight: 400;
    margin-top: 15px; 
}
.bottom-read-more{
    font-size: 20px;
    border: 3px solid #ffe18f;
    margin-left: 42px;
    padding: 10px 8px 10px 8px;
    margin-top: 55px;
    width: 120px;
    font-weight: 700;
    text-align: center;
}

.top-b, .top-c{
    justify-content: space-between;
    margin-top: 20px;
}
.top-b-left{
    background: url(img/square2-bg.png) no-repeat no-repeat top right #7abecb;
    height: 485px;
    flex-grow: 1;
    margin-right: 20px;
}
.top-b-right{
    background: #eb7b61;
    
    
}
.top-b-acc{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 42px;
    letter-spacing: 0.2em;
    color: #ffc7b0;
    margin-top: 35px;
}
.top-b-peak{
    font-size: 48px;
    font-weight: 700;
    margin-left: 42px;
    margin-top: 22px;   
    
}
.top-b-a-playful{
    font-size: 24px;
    font-weight: 400px;
    margin-left: 42px;
    margin-top: 20px;
    margin-bottom: 160px;
}

.top-b-good{
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    margin-top: 30px;

}
.top-b-right{
    width: 379px;
}
.top-b-come{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 400;   
    text-align: center;
    margin-bottom: 40px;

}
.top-b-your-email{
    font-size: 20px;
    font-weight: 700;
    border: 3px solid;
    text-align: center;
    padding: 7px 0 7px 0;
    width: 280px;
    opacity: 0.7;
    margin: 0 auto;
}
.top-b-we-respect{
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 29px;
}
.buttom-subscribe{
    font-size: 20px;
    font-weight: 700;
    background: #66689c;
    width: 286px;
    margin: 0 auto;
    padding: 7px 0 7px 0;
    text-align: center;
    margin-top: 19px;

}